In [ ]:
import marimo as mo

#Kasus 3 - Pengambilan Keputusan Pembersihan Data
- Data Engineering
- Ludy Hasby Aulia : 2702409305

##Load Library

In [ ]:
import pandas as pd
import csv
import numpy as np
from sklearn.impute import KNNImputer
import time
import matplotlib.pyplot as plt
import re

##Dataset

In [ ]:
customers = pd.DataFrame({ 
    "customer_id": ["C001", "C002", "C003", "C004", "C005", "C006", "C007"], 
    "age": [25, np.nan, 17, 150, 45, np.nan, 23], 
    "income": [5000000, 8000000, -100000, 150000000, 6000000, np.nan, 4500000], 
    "email": ["ani@mail.com", None, "budi@@mail.com", "citra@mail.com", None, "doni@mail.com", "invalid"],
    "city": ["Jakarta", "Bandung", "Jakarta", "Unknown", "Medan", "Surabaya", "jakarta"], 
    "signup_date": ["2025-01-15", "2025-02-30", "2024-13-01", "2025-01-25", "2025-01-20", "2025-01-18", "2025-01-22"]
})

##Kolom Age - Nilai Hilang dan Tidak Valid

In [ ]:
customers.age.isnull().sum()
# terdapat 2 dari 7 data kosong

In [ ]:
customers.age.info()

In [ ]:
customers

In [ ]:
customers.loc[(customers["age"] < 18) | (customers["age"] > 100), "age"] = np.nan

In [ ]:
imputer = KNNImputer(n_neighbors=5)
customers[["age", "income"]] = imputer.fit_transform(customers[["age", "income"]])

In [ ]:
customers

##Kolom Income

In [ ]:
customers

In [ ]:
customers[customers["income"] < 0]

In [ ]:
data = customers.income
plt.figure(figsize=(10,5))
plt.boxplot(data, vert=False)
plt.title("Boxplot Pendapatan Pelanggan")
plt.xlabel("Income")
plt.show()

##Kolom Email

In [ ]:
# fungsi validasi email 
def validate_email(email):
    r_pattern = r'^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$'
    email = str(email).strip().lower()
    return bool(re.match(r_pattern, email))

In [ ]:
validate_email("")

In [ ]:
customers[customers['email'].apply(validate_email)==False]

In [ ]:
customers.loc[2, 'email'] = 'budi@mail.com'

In [ ]:
customers.email

##Kolom City

In [ ]:
def cleaning_city(city: str) -> str:
    return city.strip().title()

In [ ]:
customers["city"] = customers["city"].apply(cleaning_city)

In [ ]:
customers.city.unique()

In [ ]:
customers.city = customers.city.replace("Unknown", np.nan)

In [ ]:
customers.city.unique()

In [ ]:
customers.city.value_counts().sort_values().values

In [ ]:
# bar chart pelanggan per kota
data2 = customers.city.value_counts().sort_values(ascending=False)

plt.figure(figsize=(10, 6))
plt.bar(x=data2.index, height=data2.values, color='skyblue')
plt.title("Perbandingan Jumlah Sampel Pelanggan\nPer Kota")
plt.xlabel("Kota")
plt.ylabel("Jumlah")
plt.grid(axis='y')
plt.show()